{% extends "base.html" %}

{% block title %} Budget {% endblock %}

{% block heading %}Add Income{% endblock %}

{% block content %}
<p>Enter your income Details</p>

<form class="well" method="post" action="/budget/add_income/" name="transaction">
	<!--
	{% for source in source_list %} 
		<label name = {{source}}>{{ source }}</label>
		<input type="text" name={{source}}/>
	{% endfor %}
	-->
	{% csrf_token %}
	{{ form.as_table }}
	<input type="submit" value="Add" name="add_click" class="btn btn-primary"/> <span><input type="button" value="cancel" class="btn"/></span>
	{% if income_status %}
		<p class="text-success">Added your Income</p>
	{% endif %}
</form> 

{% endblock content %}
