{% extends "display.html" %}

{% block heading %}Income details{% endblock %}

{% block content %}
	
		<table class="table">
			<tr>
			<th>Income_Source</th>
			<th>Amount</th>
			<th>Month</th>
			</tr>
			
			{% for record,source_name in record_list %}
			    <tr>
			    	
			    	<td>{{ source_name }}</td>
			    	<td>{{ record.amount }}</td>
			    	<td>{{ record.month }}</td>
			    </tr>
			
			    
			{% endfor %}
			<tr colspan="3">
				<td>Total_Income:{{total_income}}</td>
			</tr>
		</table>
		
{% endblock content %}
