{% extends "base.html" %}

{% block title %} Budget {% endblock %}

{% block heading %}Add Account Details{% endblock %}

{% block content %}
<p>Enter your Account Details</p>

<form class="well" method="post" action="/budget/create_account/" name="account">
	<!--
	{% for source in source_list %} 
		<label name = {{source}}>{{ source }}</label>
		<input type="text" name={{source}}/>
	{% endfor %}
	-->
	{% csrf_token %}
	{{ form.as_p }}
	<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
		<input class="span2" size="16" type="text" value="12-02-2012">
		<span class="add-on"><i class="icon-th"></i></span>
	</div>
	<input type="submit" value="Add" name="add_click" class="btn btn-primary"/> <span><input type="button" value="cancel" class="btn"/></span>
	{% if income_status %}
		<p class="text-success">Account Set Up Completed</p>
	{% endif %}
	<div class="row">
<div class="span2">
inline elements like span, block level elements like p, div.
</div>>
<div class="span6">.
         
      
</form> 

{% endblock content %}