{% extends "display.html" %}

{% block heading %}Income details{% endblock %}

{% block content %}
	
		<table class="table">
			<tr>
			<th>Account</th>
			<th>Income_Source</th>
			<th>Amount</th>
			<th>Date</th>
			<th>Recurrence Type</th>
			</tr>
			
			{% for record in record_list %}
			    <tr>
			    	<td>{{ record.account_source_map.account.name }}</td>
			    	<td>{{ record.account_source_map.source.name }}</td>
			    	<td>{{ record.amount }}</td>
			    	<td>{{ record.income_date }}</td>
			    	<td>{{ record.recurrence.recurrence_type }}</td>
			    </tr>
			
			    
			{% endfor %}
			<tr colspan="3">
				<td>Total_Income:{{total_income}}</td>
			</tr>
		</table>
		
{% endblock content %}
