{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block heading %}Overview{% endblock %}

{% block content %}
	<ul>
		<li><a tabindex="1" href="/budget/create_account">Add Account</a></li>
		<li><a tabindex="2" href="/budget/view_account">View Account Detail</a></li>
		<li><a tabindex="3" href="/budget/add_income">Income</a></li>
  		<li><a tabindex="4" href="/transaction/enter/">Enter Transaction</a></li>
  		<li><a tabindex="5" href="/transaction/view/">View Transaction</a></li>
  	</ul>
{% endblock content %}
